@import "tailwindcss/preflight"; /* базовые стили */
@tailwind utilities; /* все утилиты Tailwind */
@import "tailwindcss";

/* свои кастомные стили можно писать ниже */
body {
  font-family: sans-serif;
  margin: 0;
}

/* Скрываем скроллбар для всех браузеров */
.hide-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scroll {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.hide-scroll {
  -webkit-overflow-scrolling: touch;
}
