@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-gstore-blue: #3a6ff8;
  --color-gstore-midnight: #0c1220;
  --color-magic-gold: #f5c96b;
  --color-soft-silver: #dde2e9;
  --color-soft-sky: rgba(203, 222, 248, 1);
  --job-details-height: 680px;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  /* font-weight: 300; */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.hide-scroll {
  -webkit-overflow-scrolling: touch;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  /* width: 50%; */
  display: flex;
  justify-content: start;
  justify-items: start;
  flex-direction: column;
  gap: 25px;
}

.form__field {
  /* font-family: inherit; */
  width: 100%;
  border: none;
  display: flex;
  justify-content: start;
  justify-items: start;
  flex-direction: column;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 18px;
  color: var(--color-magic-gold);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  /* font-weight: 700; */
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--color-gstore-blue),
    var(--color-magic-gold)
  );
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: var(--color-gstore-blue);
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
